body{
    background-color: lightskyblue;
    font-family: 'Courier New', Courier, monospace;
}

#blokk{
    width: 30%;
    margin: auto;
    border: 3px solid black;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px blue;
    background-color: cornflowerblue;
}

h1{
    text-align: center;
}

input{
    background-color: rgb(183, 236, 234);
    border-radius: 10px;
    box-shadow: 2px 2px 4px blue;
    padding: 20px;
    margin: 10px;

}
label{
    padding: 20px;
}

button{
    font-size: 20px;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
}

button:hover{
    cursor: pointer;

}